
<div class="col-md-{{12 | divided_by: include.cards-per-row}} mb-5"> <div class="card h-100 game-jam-card">

	
	<!-- Thumbnail -->
	{% if include.thumbnail %}
		<a href="{{ include.url | absolute_url }}" aria-label="Thumbnail">
			<img src="{{ include.thumbnail}}" class="card-img-top thumbnail ratio-16x9" alt="Post thumbnail">
		</a>
	{% endif %}

	<div class="card-body">
		<a href="{{ include.url | absolute_url }}" aria-label="Thumbnail">
			<h5>{{ include.title | strip_html }}</h5>
		</a>
		<p class="card-text">
			{% if include.date %}
			<strong>📅 Date:</strong> {{include.date | date: "%Y %b" }}<br/>
			{% endif %}
			{% if include.awards %}
				<strong>🏆 Awards: </strong>
				{% for award in include.awards %}
					<span class="badge rounded-pill">{{- award -}}</span><br />
				{% endfor %}
			{% endif %}
		</p>
		<p class="card-text text-justify">
			{{include.description}}
		</p>
	</div>
</div> </div> 