<div class="col-md-4 mb-4"> <div class="card h-100 card-light">

	<div class="card-header text-center">
		<a href="{{ game.url | absolute_url }}" aria-label="Thumbnail">
			<h5>{{ game.title | strip_html }}</h5>
		</a>
	</div>
	
	<!-- Thumbnail -->
	{% if game.thumbnail-img %}
		<a href="{{ game.url | absolute_url }}" aria-label="Thumbnail">
			<img src="{{"gamejams/img/" | absolute_url}}{{ game.thumbnail-img}}" class="card-img-top thumbnail ratio-16x9" alt="Post thumbnail">
		</a>
	{% endif %}


	<div class="card-body">
		{% if game.shortdescription%}
			<p class="card-text text-justify">{{game.shortdescription}}</p>
		{% endif %}
	</div>
		
	{% if site.feed_show_tags != false and game.tags.size > 0 %}
		<hr />
		<div class="card-body">
			<span>Tags:</span>
			{% for tag in game.tags %}
			<a href="{{ '/tags' | absolute_url }}#{{- tag -}}">{{- tag -}}</a>
			{% endfor %}
		</div>
	{% endif %}
	
	<div class="card-footer bg-transparent">
		<a href="{{ game.url | absolute_url }}" class="post-read-more float-right">Read&nbsp;More&nbsp;<i class="fa fa-arrow-circle-right"></i></a>
	</div>
</div> </div> 