.thumbnail {
    filter: grayscale(40%);
}

.thumbnail:hover {
    filter: grayscale(0%);
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
.card{
	background-color:#F1F1F1;
}
.fa-stack{
	color:rgb(64, 64, 64);
}

.card-header{
	
}