---
layout: page
---

{{ content }}

{% assign gamejams = paginator.gamejams | default: site.gamejams %}

<div class="row row-cols-3 row-cols-md-2">
	{% for game in gamejams %}
		<div class="col mb-4"> <div class="card h-100">
		
			<!-- Thumbnail -->
			<!-- TODO add the gray effect from post-image -->
			{% if game.thumbnail-img %}
				<a href="{{ post.url | absolute_url }}" aria-label="Thumbnail">
					<img src="{{ game.thumbnail-img | absolute_url }}" alt="Post thumbnail">
				</a>
			{% endif %}
		
			<div class="card-body">
				<a href="{{ post.url | absolute_url }}" aria-label="Thumbnail">
					<h5 class="card-title">{{ game.title | strip_html }}</h5>
				</a>
				{% if game.salePitch%}
					<p class="card-text">{{game.salePitch}}</p>
					<hr>
				{% endif %}
				{% if game.shortdescription%}
					<p class="card-text">{{game.shortdescription}}</p>
				{% endif %}
			</div>
				
			{% if site.feed_show_tags != false and game.tags.size > 0 %}
				<div class="card-body">
					<span>Tags:</span>
					{% for tag in game.tags %}
					<a href="{{ '/tags' | absolute_url }}#{{- tag -}}">{{- tag -}}</a>
					{% endfor %}
				</div>
    		{% endif %}
			
  			<div class="card-footer bg-transparent ">
        		<a href="{{ game.url | absolute_url }}" class="post-read-more">Read&nbsp;More&nbsp;<i class="fa fa-arrow-circle-right"></i></a>
			</div>
		</div> </div>
	{% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pagination main-pager">
  {% if paginator.previous_page %}
  <li class="page-item previous">
    <a class="page-link" href="{{ paginator.previous_page_path | absolute_url }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="page-item next">
    <a class="page-link" href="{{ paginator.next_page_path | absolute_url }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
